---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "How to reach Kan Qiu",
	title: "Contact",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Contact</h1>
	<p class="mb-4">
		Email:{" "}
		<a class="cactus-link" href="mailto:xcxt17@gmail.com">xcxt17@gmail.com</a>
	</p>
</PageLayout>
